*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
}
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.game-board {
  width: 90vmin;
  height: 90vmin;
  border: 2px solid #000;
  background: #73b671;
  display: grid;
  grid-template: repeat(18, 1fr) / repeat(18, 1fr);
}

.head-up {
  background: url(../images/snakeup.png);
  background-size: 120%;
  background-position: center;
  z-index: 1;
}
.head-down {
  background: url(../images/snakedown.png);
  background-size: 120%;
  background-position: center;
  z-index: 1;
}
.head-left {
  background: url(../images/snakeleft.png);
  background-size: 120%;
  background-position: center;
  z-index: 1;
}
.head-right {
  background: url(../images/snakeright.png);
  background-size: 120%;
  background-position: center;
  z-index: 1;
}

.snake {
  background: #a0c432;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-size: 50%;
}

.food {
  background: url(../images/food.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.snake-div {
  display: none;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
#up,
#down,
#left,
#right {
  width: 30px;
  height: 30px;
}

#down {
  transform: rotate(90deg);
  position: relative;
  top: 6rem;
}

#left {
  transform: rotate(180deg);
  position: relative;
  top: 3rem;
  left: -6rem;
}

#right {
  position: relative;
  top: 3rem;
  left: -3rem;
}

#up {
  transform: rotate(-90deg);
  position: relative;
  left: 3rem;
}

.contols-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: dodgerblue;
  border: 1px solid blue;
  border-radius: 5px;
}
