*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
}

/* NAV BAR */

.nb-logo {
  width: 50px;
}

.nb-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 3rem;
}

.nb-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nb-heading {
  font-size: 2rem;
  padding-left: 1rem;
  background: rgb(234, 76, 59);
  background: linear-gradient(
    90deg,
    rgba(234, 76, 59, 1) 60%,
    rgba(252, 193, 17, 1) 81%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  flex-wrap: wrap;
}

.nb-home,
.nb-about {
  padding-left: 3rem;
  padding-right: 3rem;
}

.nav-bar a {
  text-decoration: none;
  font-weight: 700;
  background: rgb(234, 76, 59);
  background: linear-gradient(
    90deg,
    rgba(234, 76, 59, 1) 60%,
    rgba(252, 193, 17, 1) 81%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2rem;
  padding-bottom: 0.2rem;
}

.nav-bar a:hover {
  font-size: 2.5rem;
  transition: font-size 0.5s ease;
}

.nb-logout {
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
  background: red;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  outline: 0;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
}

.nb-logout:hover {
  padding: 1.5rem;
  transition: padding 0.5s ease;
}

.nb-open {
  font-size: 3rem;
  background: rgb(234, 76, 59);
  background: linear-gradient(
    90deg,
    rgba(234, 76, 59, 1) 60%,
    rgba(252, 193, 17, 1) 90%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin: 10px;
  display: none;
  cursor: pointer;
}

.nb-close {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .nb-right {
    height: 50vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    transition: top 1s ease;
    display: none;
  }

  .nb-close {
    display: block;
    background: rgb(234, 76, 59);
    background: linear-gradient(
      90deg,
      rgba(234, 76, 59, 1) 60%,
      rgba(252, 193, 17, 1) 90%
    );
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .nb-open {
    display: block;
  }

  .nav-bar a {
    margin-top: 2rem;
  }

  .nb-logout {
    margin-top: 2rem;
    margin-left: 5rem;
  }

  .nb-logo {
    width: 50px;
  }

  .nb-heading {
    font-size: 2rem;
  }
}

/* Hero Component */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/intro.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
}
