*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
}

/* NAV BAR */

.nb-logo {
  width: 50px;
}

.nb-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 3rem;
}

.nb-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nb-heading {
  font-size: 2rem;
  padding-left: 1rem;
  background: rgb(234, 76, 59);
  background: linear-gradient(
    135deg,
    rgba(234, 76, 59, 1) 56%,
    rgba(252, 193, 17, 1) 85%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  flex-wrap: wrap;
}

.nb-home,
.nb-about {
  padding-left: 3rem;
  padding-right: 3rem;
}

.nav-bar a {
  text-decoration: none;
  font-weight: 700;
  background: rgb(234, 76, 59);
  background: linear-gradient(
    135deg,
    rgba(234, 76, 59, 1) 56%,
    rgba(252, 193, 17, 1) 85%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2rem;
  padding-bottom: 0.2rem;
}

.nav-bar a:hover {
  font-size: 2.5rem;
  transition: font-size 0.5s ease;
}

.nb-logout {
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
  background: red;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  outline: 0;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
}

.nb-logout:hover {
  padding: 1.5rem;
  transition: padding 0.5s ease;
}

.nb-open {
  font-size: 3rem;
  background: rgb(234, 76, 59);
  background: linear-gradient(
    135deg,
    rgba(234, 76, 59, 1) 56%,
    rgba(252, 193, 17, 1) 85%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin: 10px;
  display: none;
  cursor: pointer;
}

.nb-close {
  font-size: 3rem;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .nb-right {
    height: 50vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    transition: top 1s ease;
    display: none;
  }

  .nb-close {
    display: block;
    background: rgb(234, 76, 59);
    background: linear-gradient(
      135deg,
      rgba(234, 76, 59, 1) 56%,
      rgba(252, 193, 17, 1) 85%
    );
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .nb-open {
    display: block;
    margin-right: 2rem;
  }

  .nav-bar a {
    margin-top: 2rem;
  }

  .nb-logout {
    margin-top: 2rem;
    margin-left: 3rem;
  }

  .nb-logo {
    width: 50px;
  }

  .nb-heading {
    font-size: 2rem;
  }
}

/* Hero Component */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/intro.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
  box-shadow: 0 0 20px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .hero {
    background-position: 50% 75%;
  }
}

.hero-heading,
.hero-name {
  text-align: center;
  background: rgb(234, 76, 59);
  background: linear-gradient(
    135deg,
    rgba(234, 76, 59, 1) 56%,
    rgba(252, 193, 17, 1) 85%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.hero-para {
  text-align: center;
  background: rgb(234, 76, 59);
  background: linear-gradient(
    135deg,
    rgba(234, 76, 59, 1) 56%,
    rgba(252, 193, 17, 1) 85%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 700;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nameform-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name-heading {
  background: rgb(234, 76, 59);
  background: linear-gradient(
    135deg,
    rgba(234, 76, 59, 1) 56%,
    rgba(252, 193, 17, 1) 85%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.name-input {
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 2rem 3.5rem;
}
.name-input::placeholder {
  color: orange;
}

.name-submit {
  font-weight: 700;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2rem 3rem;
  color: black;
  margin-left: 2rem;
}

.name-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 950px) {
  .hero {
    justify-content: flex-start;
    height: 70%;
  }

  .name-container,
  .nameform-container {
    align-items: flex-start;
    margin-left: 10rem;
  }

  .hero-heading {
    font-size: 6rem;
  }

  .hero-para {
    text-align: start;
    font-size: 4rem;
  }
}

@media screen and (max-width: 358px) {
  .name-submit {
    margin-top: 2rem;
  }
}
